.pagination-container{
    margin: 55px 0px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #000000;
  margin: 0 4px;
  border-radius: 5px;
}
a{
  cursor: pointer;
}
.pagination a.active {
  background: linear-gradient(94.79deg, #690D0D -9.82%, #FF0000 91.69%);
  color: white;
  border: 1px solid #000000;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.more{
  background: gray !important;
  font-weight: bold;
  color: #fff !important;
}
.more:hover{
  background: gray !important;
}