<div class="modal-container">
    <div (click)="close();" class="icon-close">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </div>
    <div class="title">
        <span>Detalle de pedido</span>
    </div>
    <div class="body">
        <form [formGroup]="form" (submit)="finish();">
            <div class="items">
                <span class="products-title">Productos</span>
                <div *ngFor="let cartPackage of cart.packages; let cartPackageIndex=index;">
                    <div *ngFor="let product of cartPackage.products; let cartPackageIndex=index;">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="item">
                                    <span class="key">Nombre: </span>
                                    <span class="value">{{ product?.name | titlecase }}</span>
                                </div>
                                <div class="item">
                                    <span class="key">Cantidad: </span>
                                    <span class="value">{{product?.quantity}}</span>
                                </div>
                                <div class="item">
                                    <span class="key">Precio (IVA incluído): </span>
                                    <span class="value">{{ product.priceWithIva | currency: 'ARS'}}</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="image">
                                    <img [src]="product?.imageUrl">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <span class="products-title">Promociones</span>
                <div *ngFor="let offer of cart.offers; let i=index;">
                    <div class="row">
                        <div *ngIf="offer?.type === promotionType.One" class="col-sm-10">
                            <div class="item">
                                <span class="key">Nombre: </span>
                                <span class="value">{{ offer?.name | titlecase }}</span>
                            </div>
                            <div class="item">
                                <span class="key">Cantidad: </span>
                                <span class="value">{{offer.quantity}}</span>
                            </div>
                            <div class="item">
                                <span class="key">Precio (IVA incluído): </span>
                                <span class="value">{{offer.priceWithIva | currency: 'ARS'}}</span>
                            </div>
                        </div>

                        <div *ngIf="offer?.type === promotionType.Three" class="col-sm-10">
                            <div class="item">
                                <span class="key">Nombre: </span>
                                <span class="value">{{ offer?.name | titlecase }}</span>
                            </div>

                            <span class="subtitle">Productos de la promoción</span>
                            <div *ngFor="let productSale of offer.productSales; let x=index;">
                                <div class="row">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="image">
                                            <img *ngIf="productSale?.image" [src]="productSale?.image">
                                            <img *ngIf="!productSale?.image" [src]="'assets/no-image3.jpg'">
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="item">
                                            <span class="key">Nombre: </span>
                                            <span class="value">{{ productSale?.name | titlecase }}</span>
                                        </div>
                                        <div class="item">
                                            <span class="key">Cantidad: </span>
                                            <span class="value">{{ productSale?.quantity}}</span>
                                        </div>
                                        <div class="item">
                                            <span class="key">Precio (IVA incluído): </span>
                                            <span class="value">{{productSale.priceWithIva | currency: 'ARS'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="image">
                                <img *ngIf="hasImg" [src]="offer.imageUrl" (error)="updateUrl()">
                                <img *ngIf="!hasImg" [src]="'assets/no-image3.jpg'">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="total-items">
                    <span class="key-total">Precio Total (IVA incluído): </span>
                    <span class="value-total">{{cart.totalPriceWithIva | currency: 'ARS'}}</span>
                </div>
            </div>
            
            <div *ngIf="sellerCode" class="seller-transport">
                <div>
                    <span class="seller-transport-title">Transporte vía vendedor</span>
                    <div class="item">
                        <span class="key">Código vendedor: </span>
                        <span class="value">{{clientBas?.CodigoVendedor}}</span>
                    </div>
                    <div class="item">
                        <span class="key">Nombre vendedor: </span>
                        <span class="value">{{clientBas?.NombreVendedor ? clientBas?.NombreVendedor : '-'}}</span>
                    </div>
                    <div class="item">
                        <span class="key">Email vendedor: </span>
                        <span class="value">{{clientBas?.EmailVendedor ? clientBas?.EmailVendedor : '-'}}</span>
                    </div>
                    <div class="item">
                        <span class="key">Teléfono vendedor: </span>
                        <span class="value">{{clientBas?.TelefonoVendedor ? clientBas?.TelefonoVendedor : '-'}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!sellerCode" class="row">
                <div class="col">
                    <div class="select-input">
                        <span class="input-text">Transportista</span>
                        <app-select
                        [parentForm]="form"
                        [keyInput]="'carrier'"
                        [placeholder]="'Transportista'"
                        [options]="carriers"
                        [bindLabel]="'Nombre'"
                        [bindValue]="'Codigo'"
                        ></app-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="input-text">Observaciones</span>
                    <app-textarea
                    [placeholder]="'Observaciones'"
                    [parentForm]="form"
                    [keyInput]="'observation'"
                    ></app-textarea>
                </div>
            </div>

            <div class="">
                <button class="btn btn-orange" type="submit" [disabled]="form.invalid">
                    Finalizar
                </button>
            </div>
        </form>
</div>