.container-color{
    background: #EDEDED;
    padding: 10px 6% 3% 6%;
}

.profile{
    margin-top: 35px;
}

.profile-body{
    padding: 40px;
}

.card{
    border: none !important;
    border-radius: 10px;
}

.title{
    color: black;
}