<div class="container">
    <app-title
    [title]="'Usuarios'"
    ></app-title>

    <div class="table-container text-center table-responsive">
        <div class="right">
            <button (click)="routingService.goToAddEditUser('0')" class="btn btn-orange-noTran" type="button">Nuevo usuario</button>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col"><span class="title-header">Nombre</span></th>
                    <th scope="col"><span class="title-header">Apellido</span></th>
                    <th scope="col"><span class="title-header">Email</span></th>
                    <th scope="col"><span class="title-header">Rol</span></th>
                    <th scope="col"><span class="title-header">Edad</span></th>
                    <th scope="col"><span class="title-header">Teléfono</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="users?.length! > 0">
                <tr *ngFor="let user of users; let i=index;" class="content">
                    <td><span>{{ user.person?.names }}</span></td>
                    <td><span>{{ user.person?.surnames }}</span></td>
                    <td><span>{{ user.email }}</span></td>
                    <td><span>{{ user.userRole?.name }}</span></td>
                    <td><span>{{ user.person?.age }}</span></td>
                    <td><span>{{ user.person?.phone?.countryCode }} {{ user.person?.phone?.cityCode }} {{ user.person?.phone?.phoneNumber }}</span></td>
                    <td>
                        <a (click)="routingService.goToAddEditUser(user.guid!)" style="cursor: pointer;"><span class="fas fa-pen"></span></a>
                        <a (click)="askAction(user.guid!)" style="cursor: pointer;"><span class="fas fa-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-no-items
        *ngIf="users?.length === 0"
        [title]="'Sin información'"
        ></app-no-items>
    </div>
</div>