<div class="footer-container">
    <div class="row">
        <div class="col-md-8">
            <div class="text">
                <span>Todos los derechos reservados </span>
                <span>©</span>
                <span class="esp">ESPERANZA 2022</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icons-container">
                <a [href]="facebook" target="_blank" title="Facebook">
                    <img class="icon-img-face" [src]="'assets/images/facebook.png'">
                </a>
                <a [href]="linkedin" target="_blank" title="linkedin">
                    <img class="icon-img-link" [src]="'assets/images/linkedin.png'">
                </a>
                <!-- <img class="icon-img-face" [src]="'assets/images/facebook.png'">
                <img class="icon-img-link" [src]="'assets/images/linkedin.png'"> -->
            </div>
        </div>
    </div>
</div>