.customer-products-container{
    background: #EDEDED;
}
.body{
    padding: 20px 3%;
}
.information{
    padding: 50px 75px;
    margin: 35px 50px;
    border-radius: 17px;
    background-color: white;
}
.information-mobile{
    padding: 15px 35px;
    margin: 15px;
    border-radius: 17px;
    background-color: white;
}
.acordeon-content{
    padding: 0px 75px;
}
.acordeon-content-mobile{
    padding: 0px 10px;
}
.title{
    font-size: 32px;
    display: block;
    font-weight: bold;
    font-family: RobotoBlack;
}
.title-mobile{
    font-size: 25px;
    display: block;
    font-weight: bold;
    font-family: RobotoBlack;
}
.paragraph{
    margin: 20px 0px;
    font-size: 20px;
    cursor: pointer;
}
.paragraph-mobile{
    margin: 20px 0px;
    font-size: 16px;
    cursor: pointer;
}
.paragraph:hover{
    text-decoration: underline;
}
.paragraph-mobile:hover{
    text-decoration: underline;
}
.acordeon-title{
    font-family: "RobotoRegular";
    font-size: 21px;
    margin: 0px 30px;
}
.acordeon-title-mobile{
    font-family: "RobotoRegular";
    font-size: 17px;
    margin: 0px 30px;
}
.fa-file-pdf-o, .fa-file-excel-o{
    font-size: 20px;
    margin: 0px 12px;
    cursor: pointer;
}