<div class="customer-products-container">
    <app-carousel
    *ngIf="carouselSlides.length > 0 && enableCarousel"
    [slides]="carouselSlides"
    ></app-carousel>
    
    <div [ngClass]="{ 'information': !mobile, 'information-mobile': mobile }">
        <span [ngClass]="{ 'title': !mobile, 'title-mobile': mobile }">Ensayos y Servicios</span>
        <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
    </div>

    <ngb-accordion #acc="ngbAccordion" class="custom-acordeon">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <img [src]="'assets/images/test-list.png'">
                <span [ngClass]="{ 'acordeon-title': !mobile, 'acordeon-title-mobile': mobile }">Listado de Ensayos</span>
            </ng-template>
            <ng-template ngbPanelContent id="ngb-panel-0">
                <div [ngClass]="{ 'acordeon-content': !mobile, 'acordeon-content-mobile': mobile }">
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <img [src]="'assets/images/send-samples.png'">
                <span [ngClass]="{ 'acordeon-title': !mobile, 'acordeon-title-mobile': mobile }">Cómo obtener y enviar muestras</span>
            </ng-template>
            <ng-template ngbPanelContent id="ngb-panel-0">
                <div [ngClass]="{ 'acordeon-content': !mobile, 'acordeon-content-mobile': mobile }">
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <img [src]="'assets/images/tech-information.png'">
                <span [ngClass]="{ 'acordeon-title': !mobile, 'acordeon-title-mobile': mobile }">Información técnica</span>
            </ng-template>
            <ng-template ngbPanelContent id="ngb-panel-0">
                <div [ngClass]="{ 'acordeon-content': !mobile, 'acordeon-content-mobile': mobile }">
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                    <span [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <br><br><br>
</div>

<app-spinner></app-spinner>