<div class="customer-products-container">
    <app-carousel
    *ngIf="carouselSlides.length > 0 && enableCarousel"
    [slides]="carouselSlides"
    ></app-carousel>
    
    <div class="information">
        <div class="row">
            <div class="col-md-2 text-center">
                <span class="title-information">Contacto</span>
            </div>
            <div class="col-md-7">
                <span class="text-information">DIRECCIÓN: Brigadier López 25, Esperanza, Santa Fe. </span>
                <span class="text-information">TELÉFONO: +54 3496 422100 o +54 3496 426815</span>
            </div>
            <div class="col-md-3 text-center">
                <!-- <button (click)="goToVademecum();" class="btn btn-orange" type="button">Vademecum</button> -->

                <a [href]="'https://wa.me/' + whatsappNumber + '/?text=' + whatsappText" target="_blank">
                    <button type="button" class="btn btn-orange">
                        <span class="whatsapp-text">Contactanos!</span>
                        <i class="fa fa-whatsapp"></i>
                    </button>
                </a>

            </div>
        </div>
    </div>

    <div class="form-container">
        <span class="title">Envianos un mensaje</span>
        <form [formGroup]="contactForm">
            <span>Razón Social (obligatorio)</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'businessName'"
            [type]="'textCapital'"
            [placeholder]="'Razón Social'"
            ></app-text>

            <span>Correo electrónico (obligatorio)</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'email'"
            [placeholder]="'Correo electrónico'"
            [errMsg]="'Completar el correo electrónico con un formato correcto'"
            ></app-text>

            <span>Telefono/Celular (obligatorio)</span>
            <!-- <app-text
            [parentForm]="contactForm"
            [keyInput]="'phonenNumber'"
            [messageBelow]="false"
            [type]="'textCapital'"
            [placeholder]="'Telefono/Celular'"
            ></app-text> -->
            <app-number
            [parentForm]="contactForm"
            [keyInput]="'phonenNumber'"
            [placeholder]="'Telefono/Celular'"
            [type]="'number'"
            [maxlength]="13"
            ></app-number>

            <span>Localidad, Provincia (obligatorio)</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'location'"
            [type]="'text'"
            [maxlength]="50"
            [placeholder]="'Localidad, Provincia'"
            ></app-text>

            <span>Dirección (obligatorio)</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'address'"
            [type]="'textCapital'"
            [placeholder]="'Dirección'"
            ></app-text>
            
            <span>Actividad(obligatorio)</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'activity'"
            [type]="'textCapital'"
            [placeholder]="'Actividad'"
            ></app-text>

            <span>Asunto</span>
            <app-text
            [parentForm]="contactForm"
            [keyInput]="'subjet'"
            [type]="'textCapital'"
            [placeholder]="'Asunto'"
            ></app-text>

            <span>Mensaje:</span>
            <app-textarea
            [parentForm]="contactForm"
            [keyInput]="'message'"
            [placeholder]="'Tu mensaje aquí'"
            ></app-textarea>

            <div class="recaptcha">
                <ngx-recaptcha2
                #captchaElem
                [siteKey]="recapchaKey"
                formControlName="reCaptchaToken"
                ></ngx-recaptcha2>
            </div>
        
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-orange btn-login" type="submit" (click)="sendMessage();" [disabled]="contactForm.invalid">
                        Enviar
                    </button>
                </div>
            </div>
    
        </form>
    </div>
    <br><br><br>
</div>

<app-spinner></app-spinner>