<div class="login-container">
    <div class="form-container">
        <span class="title">Recuperar contraseña</span>
        <span class="subtitle">Para resetear la contraseña deberá ingresar un código de verificación que se le enviará por email</span>
        <form *ngIf="!secondStep" [formGroup]="resetForm">
            <span class="input-text">Email</span>
            <app-text
            [parentForm]="resetForm"
            [keyInput]="'email'"
            [messageBelow]="false"
            ></app-text>    
            <div class="recaptcha">
                <ngx-recaptcha2
                #captchaElem
                [siteKey]="recapchaKey"
                formControlName="reCaptchaToken"
                ></ngx-recaptcha2>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-orange btn-login" type="submit" (click)="resetPassword();" [disabled]="resetForm.invalid">
                        Envíar código
                    </button>
                </div>
            </div>
        </form>

        <form *ngIf="secondStep" [formGroup]="confirmResetForm">
            <span class="input-text">Código de verificación</span>
            <app-text
            [parentForm]="confirmResetForm"
            [keyInput]="'verificationCode'"
            [messageBelow]="false"
            ></app-text>
            <span class="input-text">Nueva contraseña</span>
            <app-text
            [parentForm]="confirmResetForm"
            [keyInput]="'newPassword'"
            [type]="'password'"
            [messageBelow]="false"
            ></app-text>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-orange btn-login" type="submit" (click)="confirmResetPassword();" [disabled]="confirmResetForm.invalid">
                        Recuperar contraseña
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-spinner></app-spinner>