<div *ngIf="!subtitle" class="title-container">
    <div *ngIf="spacingTop" class="spacingTop"></div>
    <span class="title">{{title}}</span>
    <span *ngIf="extraTitle" class="extraTitle" (click)="redirect();">{{extraTitle}}</span>
    <div *ngIf="spacingBot" class="spacingBot"></div>
</div>

<div *ngIf="subtitle" class="title-container">
    <div *ngIf="spacingTop" class="spacingTop"></div>
    <span class="subtitle">{{title}}</span>
    <span *ngIf="extraTitle" class="extraTitle" (click)="redirect();">{{extraTitle}}</span>
    <div *ngIf="spacingBot" class="spacingBot"></div>
</div>
