.card-container{
    background: white;
    border-radius: 8px;
    padding: 20px 20px;
  }
  .img-container{
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    img{
      // width: 150px;
      width: 85%;
      padding: 10px 0px;
    }
  }
  .img-container:hover{
    transform: scale(1.04);
  }
  .img-discount{
    text-align: right;
    img{
      width: 100%;
    }
  }
  .no-discount{
    height: 50px;
  }
  .price-discount{
    font-size: 20px;
    text-decoration: line-through;
    color: gray;
  }
  .price{
    font-size: 20px;
    font-weight: bold;
  }
  .category{
    font-size: 15px;
  }
  .name{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
  }
  .no-price{
    font-size: 20px;
    font-weight: bold;
    text-decoration: line-through;
  }
  .card-container{
    cursor: pointer;
  }