<div class="card-container card">
<!-- <div class="card-container card h-100"> -->
    <div class="img-container">
        <div class="img-container">
            <img *ngIf="video?.thumbnail?.base64Image" [src]="video?.thumbnail?.base64Image">
            <img *ngIf="video?.base64Image" [src]="video?.base64Image">
        </div>
    </div>
    
    <div class="text-container">
        <div class="title">
            <span>{{video.videoTitle}}</span>
        </div>
        <div class="link" (click)="showVideo();">
            <span>Ver video</span>
        </div>
    </div>
</div>