<div class="customer-products-container">
    <app-promotions></app-promotions>
    <div class="body">
        <div class="product-items">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                <div class="col" *ngFor="let promotion of promotions; let i = index" >
                    <app-offer-card
                    class="pointer"
                    (click)="goToOffer(promotion);"
                    [promotion]="promotion"
                    ></app-offer-card>
                </div>
            </div>
            <app-no-items
            *ngIf="promotions.length === 0"
            [title]="'Sin información'"
            ></app-no-items>
        </div>
    </div>
</div>
<app-spinner></app-spinner>