<div>
    <div *ngIf="clarifications" class="row">
        <div class="col clarification">
            <span>{{ clarifications }}</span>
        </div>
    </div>
    <div *ngIf="parentForm?.get(keyArray)?.invalid">
        <label>Recuerde que debe agregar al menos un registro</label>
    </div>
    <div class="row drop-image">
        <div class="col">
            <div class="drop-zone">
                <label [for]="keyArray ? keyArray : parentFormName">{{ titleDragAndDrop }}</label>
                <input 
                [id]="keyArray ? keyArray : parentFormName" 
                type="file" 
                [multiple]="multipleFile" 
                (change)="handleUpload($event)" 
                name="myFile"
                accept="video/mp4,video/x-m4v,video/*"
                class="drop-zone__input">
            </div>
        </div>
    </div>

    <div *ngIf="keyArray && parentForm?.get(keyArray)?.value.length > 0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
            <div *ngFor="let row of parentForm?.get(keyArray)?.value; let i=index;" class="col">
                <div class="card">
                    <div *ngIf="row.base64Image && !row.deleted">
                        <video (click)="askRemove(row, true, i);" class="video" autoplay="true" controls>
                            <source [src]="transformImage(row.base64Image)" type="video/mp4">
                        </video>
                    </div>
                    <div *ngIf="!row.base64Image && !row.deleted">
                        <video (click)="askRemove(row, true, i);" class="video" autoplay="true" controls>
                            <source [src]="row.urlImage" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!keyArray" >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
            <div class="col">
                <div class="card">
                    <div *ngIf="parentForm?.get('base64Image')?.value">
                        <video (click)="askRemove(parentForm?.value, false);" class="video" autoplay="true" controls>
                            <source [src]="transformImage(parentForm?.get('base64Image')?.value)" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<br>