.customer-products-container{
    background: #EDEDED;
}
.body{
    padding: 20px 3%;
}
.product-items{
    background: #fff;
    border-radius: 8px;
    padding: 30px;
}

.filter-item{
    color: black;
    margin: 15px 0px;
}
.filter-title{
    font-size: 15px;
    font-weight: bold;
    display: block;
}
.filter-value{
    color: #544f4f;
    display: block;
    font-size: 14px;
    cursor: pointer;
}
.filter-value:hover{
    text-decoration: underline;
}
.filter-value-selected{
    font-weight: bold;
    text-decoration: underline;
}

.product-item{
    color: black;
}
.product-image{
    img{
        width: 200px;
    }
    cursor: pointer;
    transition: transform .2s;
}
.product-image:hover{
    transform: scale(1.05);
}
.category{
    display: block;
    font-size: 18px;
}
.name{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.semaphore{
    width: 230px;
}
.price{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}
.no-price{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    text-decoration: line-through;
}
.price-esp{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.body-card{
    padding: 0px 25px;
}
.icon{
    border: 1px solid gray;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}
.separator{
    margin: 18px 0px;
}
.showMoreLbl{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.showMoreLbl:hover{
    text-decoration: underline;
}
.fa-info{
    cursor: pointer;
}
.price-esp{
}
.filter{
    background-color: #FCA746;
    padding: 25px 15px 4px 15px;
    border-radius: 8px;
    margin: 0px 0px 15px 0px;
}