<div class="row gx-3 body-container">
    <div class="col p-title">
        <p>C.</p>
    </div>
    <div class="col p-title">
        <p>DTO.</p>
    </div>
    <div class="col p-title">
        <p>BONIF.</p>
    </div>
    <div class="col p-title">
        <p>DTO.ESP.</p>
    </div>
    <div class="col p-title">
        <p>$S/IVA</p>
    </div>
    <hr>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>25%</p>
    </div>
    <div class="col">
        <p>-</p>
    </div>
    <div class="col">
        <p>-</p>
    </div>
    <div class="col">
        <p>$740</p>
    </div>
    <hr>
</div>