.body-container{
    margin: 20px 0px;
}

.p-title{
    font-weight: bold;
}
p{
    font-size: 12px;
}
hr{
    margin-top: -10px;
    margin-bottom: -10px;
}
table, th, td {
    border: 1px solid #b6b1b1;
    border-collapse: collapse;
}
td{
    padding: 0px 10px;
}