<div *ngIf="bonifications.length > 0" class="row gx-3 body-container">
    <table class="text-center">
        <tr>
          <td><p class="p-title">C.</p></td>
          <td><p class="p-title">PRECIO</p></td>
          <td><p class="p-title">DTO.</p></td>
          <td><p class="p-title">BONIF.</p></td>
          <td><p class="p-title">$S/IVA</p></td>
        </tr>
        <tr *ngFor="let bonif of bonifications">
          <td><p>{{bonif.CantidadDesde}}</p></td>
          <td><p>{{getPriceNumber(product?.preciO_BASE) | currency: 'ARS'}}</p></td>
          <td><p>{{bonif.Porcentaje}}%</p></td>
          <td><p>{{getDiscount(bonif)}}</p></td>
          <td><p>{{getPriceIva(bonif)}}</p></td>
        </tr>
      </table>
</div>