<div class="container-color">
    <div class="card">
        <div class="card-body profile-body">
            <h1 class="title"><b>Mi historial de pedidos</b></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
    </div>

    <div class="docs-container">
        <div class="row row-cols-1 row-cols-sm-1 g-2">
            <div class="col" *ngFor="let history of histories">
                <div class="card-container">
                    <div>
                        <span class="key">Fecha: </span>
                        <span class="value">{{history?.date}}</span>
                    </div>
                    <div>
                        <span class="key">Nro Compra: </span>
                        <span class="value">{{history?.saleNumber}}</span>
                    </div> 
                    <div>
                        <span class="key">Prefijo: </span>
                        <span class="value">{{history?.prefix}}</span>
                    </div>
                    <div>
                        <span class="key">Estado: </span>
                        <span class="value">{{history?.state}}  {{history?.partialShipment ? '(Envío parcial)' : ''}}</span>
                    </div> 
                    <br>
                    <div *ngFor="let product of history.products">
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="image-container">
                                    <img *ngIf="product?.image" [src]="product?.image">
                                    <img *ngIf="!product?.image" src="assets/no-image1.jpg">
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div>
                                    <span class="key">Código de producto: </span>
                                    <span class="value">{{product?.code}}</span>
                                </div> 
                                <div>
                                    <span class="key">Cantidad: </span>
                                    <span class="value">{{product?.cant}}</span>
                                </div> 
                                <div>
                                    <span class="key">Descripción: </span>
                                    <span class="value">{{product?.description}}</span>
                                </div> 
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    
    <app-spinner></app-spinner>
</div>
