<div class="customer-products-container">
    <app-promotions
    [mobile]="mobile"
    [inline]="true"
    ></app-promotions>

    <div class="body">
        <div class="row">
            <div *ngIf="mobile">
                <div class="filter-mobile-btn" (click)="$event.stopPropagation(); dropfilters.open(); angleDown = !angleDown">
                    <span class="mobile-filter-text">Filtros</span>
                    <i *ngIf="angleDown" class="fa fa-angle-down"></i>
                    <i *ngIf="!angleDown" class="fa fa-angle-up"></i>
                </div>
                <div class="d-inline-block drop-down-mobile-filtter" ngbDropdown #dropfilters="ngbDropdown">
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">

                        <div *ngIf="filters">
                            <div *ngIf="showCleanFilter();" class="filter-item-mobile">
                                <span (click)="cleanFilter();" class="clean-filter-mobile">Limpiar</span>
                            </div>
                            <div *ngIf="filters?.marca">
                                <div *ngIf="filters?.marca?.canFilter">
                                    <div class="filter-item-mobile">
                                        <span class="filter-title">Balanceado</span>
                                        <span 
                                        *ngFor="let item of filters?.marca?.itemsFilter; let i = index" 
                                        (click)="updateCategories(item.value, productFieldTypes.Marca);"
                                        [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Marca) }"
                                        class="filter-value">
                                            <div *ngIf="i < 5 || showMoreMarcas" [ngbTooltip]="item.value">
                                                {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                            </div>
                                        </span>
                                        <span *ngIf="filters?.marca?.itemsFilter.length > 5 && !showMoreMarcas" class="showMoreLbl" (click)="showMoreMarcas = true">Ver más...</span>
                                        <span *ngIf="filters?.marca?.itemsFilter.length > 5 && showMoreMarcas" class="showMoreLbl" (click)="showMoreMarcas = false">Ver menos...</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="filters?.subrubro">
                                <div *ngIf="filters?.subrubro?.canFilter">
                                    <div class="filter-item-mobile">
                                        <span class="filter-title">Categoría</span>
                                        <span 
                                        *ngFor="let item of filters?.subrubro?.itemsFilter; let i = index" 
                                        (click)="updateCategories(item.value, productFieldTypes.Subrubro);" 
                                        [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Subrubro) }"
                                        class="filter-value">
                                            <div [ngbTooltip]="item.value">
                                                {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                            </div>
                                        </span>
                                        <!-- <span *ngIf="filters?.subrubro?.itemsFilter.length > 5 && !showMoreSubrubros" class="showMoreLbl" (click)="showMoreSubrubros = true">Ver más...</span>
                                        <span *ngIf="filters?.subrubro?.itemsFilter.length > 5 && showMoreSubrubros" class="showMoreLbl" (click)="showMoreSubrubros = false">Ver menos...</span> -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="filters?.proveedor">
                                <div *ngIf="filters?.proveedor?.canFilter">
                                    <div class="filter-item-mobile">
                                        <span class="filter-title">Laboratorio</span>
                                        <span 
                                        *ngFor="let item of filters?.proveedor?.itemsFilter; let i = index" 
                                        (click)="updateCategories(item.value, productFieldTypes.Proveedor);" 
                                        [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Proveedor) }"
                                        class="filter-value">
                                            <div [ngbTooltip]="item.value">
                                                {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                            </div>
                                        </span>
                                        <!-- <span *ngIf="filters?.proveedor?.itemsFilter.length > 5 && !showMoreProveedores" class="showMoreLbl" (click)="showMoreProveedores = true">Ver más...</span>
                                        <span *ngIf="filters?.proveedor?.itemsFilter.length > 5 && showMoreProveedores" class="showMoreLbl" (click)="showMoreProveedores = false">Ver menos...</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>
            </div>

            <div *ngIf="!mobile" class="col-lg-2">
                <div *ngIf="filters">
                    <div *ngIf="showCleanFilter();" class="filter-item">
                        <span (click)="cleanFilter();" class="clean-filter">Limpiar</span>
                    </div>
                    <div *ngIf="filters?.marca">
                        <div *ngIf="filters?.marca?.canFilter">
                            <div class="filter-item">
                                <span class="filter-title">Balanceado</span>
                                <span 
                                *ngFor="let item of filters?.marca?.itemsFilter; let i = index" 
                                (click)="updateCategories(item.value, productFieldTypes.Marca);"
                                [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Marca) }"
                                class="filter-value">
                                    <div *ngIf="i < 5 || showMoreMarcas" [ngbTooltip]="item.value">
                                        {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                    </div>
                                </span>
                                <span *ngIf="filters?.marca?.itemsFilter.length > 5 && !showMoreMarcas" class="showMoreLbl" (click)="showMoreMarcas = true">Ver más...</span>
                                <span *ngIf="filters?.marca?.itemsFilter.length > 5 && showMoreMarcas" class="showMoreLbl" (click)="showMoreMarcas = false">Ver menos...</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filters?.subrubro">
                        <div *ngIf="filters?.subrubro?.canFilter">
                            <div class="filter-item">
                                <span class="filter-title">Categoría</span>
                                <span 
                                *ngFor="let item of filters?.subrubro?.itemsFilter; let i = index" 
                                (click)="updateCategories(item.value, productFieldTypes.Subrubro);" 
                                [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Subrubro) }"
                                class="filter-value">
                                    <div [ngbTooltip]="item.value">
                                        {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                    </div>
                                </span>
                                <!-- <span *ngIf="filters?.subrubro?.itemsFilter.length > 5 && !showMoreSubrubros" class="showMoreLbl" (click)="showMoreSubrubros = true">Ver más...</span>
                                <span *ngIf="filters?.subrubro?.itemsFilter.length > 5 && showMoreSubrubros" class="showMoreLbl" (click)="showMoreSubrubros = false">Ver menos...</span> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf="filters?.proveedor">
                        <div *ngIf="filters?.proveedor?.canFilter">
                            <div class="filter-item">
                                <span class="filter-title">Laboratorio</span>
                                <span 
                                *ngFor="let item of filters?.proveedor?.itemsFilter; let i = index" 
                                (click)="updateCategories(item.value, productFieldTypes.Proveedor);" 
                                [ngClass]="{ 'filter-value-selected': isSelected(item.value, productFieldTypes.Proveedor) }"
                                class="filter-value">
                                    <div [ngbTooltip]="item.value">
                                        {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                    </div>
                                    <!-- <div *ngIf="i < 5 || showMoreProveedores" [ngbTooltip]="item.value">
                                        {{ formatText(item.value) | titlecase }} ({{ item.quantity }})
                                    </div> -->
                                </span>
                                <!-- <span *ngIf="filters?.proveedor?.itemsFilter.length > 5 && !showMoreProveedores" class="showMoreLbl" (click)="showMoreProveedores = true">Ver más...</span>
                                <span *ngIf="filters?.proveedor?.itemsFilter.length > 5 && showMoreProveedores" class="showMoreLbl" (click)="showMoreProveedores = false">Ver menos...</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="product-items">
                    <div *ngFor="let product of products; let i=index;" class="product-item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div (click)="goToProduct(product.codigo);" class="product-image">
                                    <img *ngIf="!errorImages[i]" [src]="product?.foto" (error)="updateUrl(i)">
                                    <img *ngIf="errorImages[i]" [src]="'assets/no-image3.jpg'">
                                </div>
                            </div>
                            <div class="body-card" [ngClass]="{ 'col-lg-5': !mobile, 'col-lg-9': mobile }">
                                <span class="category">{{ (product?.categoria?.length>50)? (product?.categoria | slice:0:50)+'...':(product?.categoria) }}</span>
                                <span class="name" (click)="goToProduct(product.codigo);">{{ product?.nombre }}</span>
                                <div *ngIf="mobile" class="semaphore">
                                    <app-customer-semaphore-stock
                                    *ngIf="product?.semaphore"
                                    [semaphoreStr]="product?.semaphore"
                                    ></app-customer-semaphore-stock>
                                </div>
                                <span *ngIf="product?.logged" class="price">{{ getPriceNumber(product?.precio) | currency: 'ARS' }}</span>
                                <span *ngIf="!product?.logged" class="no-price">{{ getPriceNumber(product?.precio) | currency: 'ARS' }}</span>

                                <div *ngIf="!isUserLogged">
                                    <ng-template #tooltip>
                                        <span class="">Para acceder a mejores precios inicie sesión cómo cliente de esperanza. Puedes hacerlo dando click al ícono</span>
                                    </ng-template>
                                    <span class="price-esp">Precio con Esperanza: {{ getPriceNumber(product?.preciO_ESP) | currency: 'ARS' }}
                                        <i class="fa fa-info icon" aria-hidden="true" [ngbTooltip]="tooltip" (click)="routing.goToLogin()"></i>
                                    </span>
                                </div>
                                
                            </div>
                            <div *ngIf="!mobile" class="col-lg-4">
                                <div *ngIf="!mobile" class="semaphore">
                                    <app-customer-semaphore-stock
                                    *ngIf="product?.semaphore"
                                    [semaphoreStr]="product?.semaphore"
                                    ></app-customer-semaphore-stock>
                                </div>
                            </div>
                        </div>
                        <div class="separator">
                            <hr>
                        </div>
                    </div>
                    <app-no-items
                    *ngIf="products.length === 0"
                    [title]="'Sin información'"
                    ></app-no-items>
                </div>
                <div class="right">
                    <app-pagination
                    *ngIf="totalRows > 0"
                    [totalRows]="totalRows"
                    (reSearchItemsPagination)="reSearchItemsPagination($event)"
                    ></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>