.customer-products-container{
    background: #EDEDED;
}
.body{
    padding: 20px 3%;
}
.product-items{
    background: #fff;
    border-radius: 8px;
    padding: 30px;
}

.filter-item{
    color: black;
    margin: 15px 0px;
}
.filter-title{
    font-size: 15px;
    font-weight: bold;
    display: block;
}
.clean-filter{
    font-size: 14px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}
.clean-filter-mobile{
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: #FCA746;
    cursor: pointer;
    text-align: center;
}
.clean-filter:hover{
    text-decoration: underline;
}
.filter-value{
    color: #544f4f;
    display: block;
    font-size: 14px;
    cursor: pointer;
}
.filter-value:hover{
    text-decoration: underline;
}
.filter-value-selected{
    font-weight: bold;
    text-decoration: underline;
}

.product-item{
    color: black;
}
.product-image{
    img{
        width: 200px;
    }
    cursor: pointer;
    transition: transform .2s;
}
.product-image:hover{
    transform: scale(1.05);
}
.category{
    display: block;
    font-size: 18px;
}
.name{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.semaphore{
    width: 230px;
}
.price{
    display: block;
    font-size: 23px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}
.no-price{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    text-decoration: line-through;
}
.price-esp{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.body-card{
    padding: 0px 25px;
}
.icon{
    border: 1px solid gray;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}
.separator{
    margin: 18px 0px;
}
.showMoreLbl{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.showMoreLbl:hover{
    text-decoration: underline;
}
.fa-info{
    cursor: pointer;
}
.price-esp{
}
.filter-mobile-btn{
    background: white;
    margin: -25px 0px -10px 0px;
    padding: 15px;
    border: 1px solid #cac9c9;
    text-align: center;
    cursor: pointer;
}
.mobile-filter-text{
    font-size: 18px;
}
.fa-angle-down, .fa-angle-up{
    margin: 0px 10px;
}
.drop-down-mobile-filtter .dropdown-menu.show {
    margin: -5px 0px 0px 0px;
    width: 365px;
    border-radius: 0px;
}
.filter-item-mobile{
    margin: 0px 0px 30px 0px;
    /* text-align: center; */
    padding: 10px 30px;
}

@media only screen and (min-width: 768) {
    .semaphore{
        margin: 50px 0px 0px 0px;
    }
}