.icon-close{
    font-size: 25px;
    float: right;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
}
.title{
    font-size: 22px;
    font-weight: bold;
}
.modal-container{
    // padding: 10px 20px;
    padding: 25px;
}
.body{
    padding: 20px 10px;
}
.btn-orange{
    // margin: 30px 0px;
    padding: 0px 30px;
    height: 45px;
    background: #229200;
    color: white;
    border-radius: 13px;
    border: #9CBC8C;
    transition: transform .2s;
}
.input-text{
    display: block;
    font-size: 16px;
    margin: 0px 0px 4px 3px;
}
.image{
    img{
        width: 100%;
    }
}
.item{
    margin: 2px 0px;
}
.key-principal{
    font-size: 20px;
    font-weight: bold;
}
.value-principal{
    font-size: 18px;
    font-style: italic;
}
.key{
    font-size: 15px;
    font-weight: bold;
}
.value{
    font-size: 15px;
    font-style: italic;
}
.items{
    padding: 0px 30px 50px 30px;
}
.key-total{
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}
.value-total{
    font-size: 18px;
    font-style: italic;
    margin: 0px 20px;
}
.seller-transport-title{
    color: black;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    display: block;
}
.seller-transport{
    margin: 0px 0px 20px 0px;
}
.products-title{
    color: black;
    margin: 20px 0px;
    font-size: 17px;
    text-decoration: underline;
    font-weight: bold;
    display: block;
}
.promotion{
    margin: 40px 0px 0px 0px;
}