<div class="container">
    <app-title
    [title]="title"
    ></app-title>

    <div class="form-container">
        <form [formGroup]="form" (submit)="addOrUpdateCarousel();">
            <div class="row">
                <div class="col-sm-6">
                    <app-select
                    [parentForm]="form"
                    [keyInput]="'idPageType'"
                    [label]="'Tipo de página'"
                    [placeholder]="'Tipo de página'"
                    [options]="newPagesType"
                    ></app-select>
                </div>
                <div class="col-sm-6 check">
                    <app-check
                    [parentForm]="form"
                    [keyInput]="'enable'"
                    [label]="'Habilitado'"
                    ></app-check>
                </div>
            </div>

            <div class="table-container text-center table-responsive">
                <div class="right">
                    <button (click)="newSlide();" class="btn btn-orange-noTran" type="button">Nueva diapositiva</button>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"><span class="title-header">Texto</span></th>
                            <th scope="col"><span class="title-header">Orden</span></th>
                            <th scope="col"><span class="title-header">Tamaño celular</span></th>
                            <th scope="col"><span class="title-header">Imagen</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="this.form.get('slides')?.value?.length! > 0">
                        <tr *ngFor="let slide of this.form.get('slides')?.value; let i=index;" class="content">
                            <td *ngIf="slide.deleted !== true"><span>{{ slide?.slideText }}</span></td>
                            <td *ngIf="slide.deleted !== true"><span>{{ slide?.slideOrder }}</span></td>
                            <td *ngIf="slide.deleted !== true"><span>{{ slide?.isPhoneDimension ? 'SI' : 'NO' }}</span></td>
                            <td *ngIf="slide.deleted !== true">
                                <div class="image">
                                    <img [src]="slide.image.base64Image">
                                </div>
                            </td>
                            <td *ngIf="slide.deleted !== true">
                                <a (click)="updateSlide(slide, i)" style="cursor: pointer;"><span class="fas fa-pen"></span></a>
                                <a (click)="askAction(i)" style="cursor: pointer;"><span class="fas fa-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-no-items
                *ngIf="this.form.get('slides')?.value?.length! === 0"
                [title]="'Sin información'"
                ></app-no-items>
            </div>

            <div class="btn-save">
                <button class="btn btn-orange-noTran" type="submit" [disabled]="form.invalid || this.form.get('slides')?.value?.length! === 0">
                    Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>
<app-spinner></app-spinner>