.check{
    margin: 36px 0px 0px 0px;
}
.form-container{
    margin: 40px 0px;
}
.image{
    img{
        width: 200px;
        height: 100px;
        object-fit: cover;
    }
}
.fas{
    margin: 0px 5px;
}