<div class="container">
    <app-title
    [title]="'Productos'"
    ></app-title>

    <div class="table-container text-center table-responsive">
        <div class="right">
            <button (click)="routingService.goToAddEditProduct('0')" class="btn btn-primary" type="button">Nuevo Producto</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><span class="title-header">Nombre</span></th>
                    <th scope="col"><span class="title-header">Descripción</span></th>
                    <th scope="col"><span class="title-header">Precio</span></th>
                    <th scope="col"><span class="title-header">Stock</span></th>
                    <th scope="col"><span class="title-header">Marca</span></th>
                    <!-- <th scope="col"><span class="title-header">Línea</span></th>
                    <th scope="col"><span class="title-header">Especie</span></th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="products?.length! > 0">
                <tr *ngFor="let product of products; let i=index;" class="content">
                    <td><span>{{ product.name}</span></td>
                    <td><span>{{ product.description }}</span></td>
                    <td><span>{{ product.unitPrice }}</span></td>
                    <td><span>{{ product.stock }}</span></td>
                    <td><span>{{ product.brand }}</span></td>
                    <!-- <td><span>{{ product.person?.age }}</span></td>
                    <td><span>{{ product.person?.phone?.countryCode }} {{ producst.person?.phone?.cityCode }} {{ producst.person?.phone?.phoneNumber }}</span></td> -->
                    <td>
                        <a (click)="routingService.goToAddEditProduct(product.guid!)" style="cursor: pointer;"><span class="fas fa-pen"></span></a>
                        <a (click)="askAction(product.guid!)" style="cursor: pointer;"><span class="fas fa-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-no-items
        *ngIf="products?.length === 0"
        [title]="'Sin información'"
        ></app-no-items>
    </div>
</div>