<div>
  <!-- <app-top-header [tabletResolution]="tabletResolution"></app-top-header> -->
  <app-header *ngIf="tabletResolution" [tabletResolution]="tabletResolution"></app-header>

  <div id="nav-bar" [ngClass]="{'sticky': addStickyClass && !tabletResolution}">
    <app-header *ngIf="!tabletResolution" [tabletResolution]="tabletResolution"></app-header>
    <app-nav-bar *ngIf="!tabletResolution" [tabletResolution]="tabletResolution"></app-nav-bar>
    <app-breadcrumbs
    *ngIf="addStickyClass && !tabletResolution && breadcrumbs.length > 1"
    [breadcrumbs]="breadcrumbs"
    ></app-breadcrumbs>
  </div>


  <div [ngClass]="{'body': addStickyClass && !tabletResolution}">
    <router-outlet></router-outlet>
    <div *ngIf="addStickyClass && tabletResolution">
      <button [ngClass]="{'scrollButton': addStickyClass}" (click)="scrollToTop()">&#8593;</button>
    </div>
    <div>
      <button *ngIf="!tabletResolution" class="float-btn-ws-pc" (click)="scrollToTop()">
        <a [href]="'https://wa.me/' + whatsappNumber + '/?text=' + whatsappText" target="_blank">
          <i class="fa fa-whatsapp"></i>
        </a>
      </button>
      <button *ngIf="tabletResolution" class="float-btn-ws-mobile" (click)="scrollToTop()">
        <a [href]="'https://wa.me/' + whatsappNumber + '/?text=' + whatsappText" target="_blank">
          <i class="fa fa-whatsapp"></i>
        </a>
      </button>
    </div>
    <app-footer [tabletResolution]="tabletResolution"></app-footer>
  </div>
</div>