<div class="number-container">
    <div class="numbers">
        <div class="inline">
            <span>Cantidad: </span>
        </div>
        <div class="inline display operator" (click)="decreaseElement()">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="inline display number">
            {{quantity}}
        </div>
        <div class="inline display operator" (click)="addElement()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
</div>