.inline{
    display: inline;
    span{
        margin: 0px 5px;
    }
}
.display{
    background-color: #F3F3F3;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}
.operator{
    padding: 3px 11px;
    width: 38px;
}
.number{
    padding: 2px 20px;
    margin: 0px 5px;
    font-size: 18px;
}
.fa-minus, .fa-plus{
    font-size: 12px;
}