<div class="register-container">
    <app-carousel
    *ngIf="carouselSlides.length > 0 && enableCarousel"
    [slides]="carouselSlides"
    ></app-carousel>

    <div class="information">
        <span class="title-information">Crea tu cuenta en Esperanza</span>
        <span class="text-information">Crea tu cuenta Esperanza y aprovecha al máximo todos los servicios de comprar online.</span>
        <span class="text-information">Tu cuenta te permite disfrutar de más ventajas, visualizar tus pedidos, y acceder fácilmente a la información de nuestros productos.</span>
        <span class="text-information">Recorda que para crearla necesitas ser cliente registrado.</span>
        <span class="text-information">Cualquier duda o consulta llámanos al 3496-422100</span>
    </div>

    <div class="form-container">
        <span class="title">Registrarse</span>
        <form [formGroup]="registerForm">
            <span>Nombre</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'name'"
            [messageBelow]="false"
            [type]="'textCapital'"
            ></app-text>
    
            <span>Apellido</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'surname'"
            [messageBelow]="false"
            [type]="'textCapital'"
            ></app-text>
    
            <span>CUIT</span>
            <app-number
            [parentForm]="registerForm"
            [keyInput]="'cuit'"
            [type]="'number'"
            [maxlength]="11"
            ></app-number>

            <span>Código de cliente</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'basClientCode'"
            [messageBelow]="false"
            [type]="'text'"
            [maxlength]="6"
            ></app-text>
    
            <span>Email</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'username'"
            [messageBelow]="false"
            ></app-text>
        
            <span>Contraseña</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'password'"
            [type]="'password'"
            [messageBelow]="false"
            ></app-text>
    
            <span>Repetir Contraseña</span>
            <app-text
            [parentForm]="registerForm"
            [keyInput]="'repeatPassword'"
            [type]="'password'"
            [messageBelow]="false"
            ></app-text>
    
            <div *ngIf="validPass === false" class="row">
                <div class="col">
                    <div class="err-msg">
                        Las contraseñas no coinciden.
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-orange btn-login" type="submit" (click)="register();" [disabled]="registerForm.invalid">
                        Registrarse
                    </button>
                </div>
            </div>
    
        </form>
    </div>
</div>
<app-spinner></app-spinner>