<div class="description-container">
    <app-title
    [title]="'Descripción'"
    [type]="'subtitle'"
    ></app-title>
    <span>Velit velit ipsum ut nulla deserunt cillum sunt voluptate eu reprehenderit et anim. Laborum excepteur laboris sunt ut non anim amet proident qui culpa. Excepteur ullamco esse elit nulla laboris officia commodo laborum minim aliqua. Ea proident esse quis dolore ea do pariatur non laboris qui. Sint esse ullamco consequat esse fugiat laborum. Lorem et mollit tempor adipisicing nulla est incididunt magna irure dolore.</span>
    <br>
    <br>

    <app-title
    [title]="'Ingredientes'"
    [type]="'subtitle'"
    ></app-title>
    <span>Reprehenderit est occaecat reprehenderit aute. Et exercitation anim excepteur deserunt nulla adipisicing. Ea exercitation incididunt labore fugiat ipsum proident. Incididunt occaecat consectetur quis esse ullamco cupidatat cupidatat irure nulla aliqua reprehenderit eu dolore exercitation. Sit Lorem sint et veniam velit amet ea. Sunt Lorem occaecat fugiat enim quis ea dolore duis aliquip enim.</span>
    <br>
    <br>

    <app-title
    [title]="'Peso'"
    [type]="'subtitle'"
    ></app-title>
    <span>200 gr</span>
</div>