<div class="accordion accordion-flush" id="accordionFlush">
    <!-- <div class="accordion-item accordion-position">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" (click)="routing.goToDocumentsCtacte()">
              <i class="fa fa-user-o icons" aria-hidden="true"></i>Mis datos
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        </div>
      </div> -->
      <div *ngIf="!isUserAdmin" class="accordion-item accordion-position">
        <div class="accordion-header" id="flush-headingThree">
          <button class="purchases-style collapsed" type="button" (click)="routing.goToDocumentsCtacte()" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="fa fa-user-o icons" aria-hidden="true"></i>Mi cuenta corriente
          </button>
        </div>
    </div>
    <!-- <div class="accordion-item accordion-position">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="fa fa-user-o icons" aria-hidden="true"></i>Mis datos
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div *ngIf="!isUserAdmin" class="accordion-body">
            <div class="row p-3">
                <div class="col-sm-6">
                    <div>
                        <p><b>Nombre: </b> {{ clientBas?.Nombre | titlecase }}</p>
                    </div>  
                </div>
                <div class="col-sm-6">
                    <div>
                        <p><b>Código: </b>{{ clientBas?.Codigo }}</p>
                    </div>  
                </div>
                <div *ngIf="clientBas?.CondicionVentaBalanceado && clientBas?.CondicionVentaMedicamentos" class="col-sm-12">
                    <div>
                        <p><b>Condiciones: </b>{{ clientBas?.CondicionVentaBalanceado }}, {{ clientBas?.CondicionVentaMedicamentos }}</p>
                    </div>  
                </div>
                <div *ngIf="!clientBas?.CondicionVentaBalanceado && clientBas?.CondicionVentaMedicamentos" class="col-sm-12">
                    <div>
                        <p><b>Condiciones: </b>{{ clientBas?.CondicionVentaMedicamentos }}</p>
                    </div>  
                </div>
                <div *ngIf="clientBas?.CondicionVentaBalanceado && !clientBas?.CondicionVentaMedicamentos" class="col-sm-12">
                    <div>
                        <p><b>Condiciones: </b>{{ clientBas?.CondicionVentaBalanceado }}</p>
                    </div>  
                </div>
                <div class="col-sm-6">
                    <div>
                        <p><b>Nombre vendedor: </b>{{ clientBas?.NombreVendedor | titlecase }}</p>
                    </div>  
                </div>
                <div class="col-sm-6">
                    <div>
                        <p><b>Código vendedor: </b>{{ clientBas?.CodigoVendedor }}</p>
                    </div>  
                </div>
                <div class="col-sm-12">
                    <div>
                        <p><b>Email vendedor: </b>{{ clientBas?.EmailVendedor }}</p>
                    </div>  
                </div>
                <div class="col-sm-12">
                    <div>
                        <p><b>Teléfono vendedor: </b>{{ clientBas?.TelefonoVendedor }}</p>
                    </div>  
                </div>
            </div>
        </div>
        <div *ngIf="isUserAdmin" class="accordion-body">
            <div class="row p-3">
                <div class="col-sm-6">
                    <div>
                        <p><b>Nombre: </b> {{ clientEsp?.person?.names | titlecase }} {{ clientEsp?.person?.surnames | titlecase }}</p>
                    </div>  
                </div>
                <div class="col-sm-6">
                    <div>
                        <p><b>Rol: </b>{{ clientEsp?.userRole?.name }}</p>
                    </div>  
                </div>
            </div>
        </div>
      </div>
    </div> -->
    <!-- <div *ngIf="!isUserAdmin" class="accordion-item accordion-position">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fa fa-cog icons" aria-hidden="true"></i>Ajustes
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Ajustes desplegable</div>
      </div>
    </div> -->
    <div *ngIf="!isUserAdmin" class="accordion-item accordion-position">
        <div class="accordion-header" id="flush-headingThree">
          <button class="purchases-style collapsed" type="button" (click)="routing.goToMyOrders()" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <i class="fa fa-shopping-cart icons" aria-hidden="true"></i>Mis compras
          </button>
        </div>
    </div>
    <!-- <div *ngIf="!isUserAdmin" class="accordion-item accordion-position">
        <h2 class="accordion-header" id="flush-headingFourth">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourth" aria-expanded="false" aria-controls="flush-collapseFourth">
              <i class="fa fa-lock icons" aria-hidden="true"></i>Privacidad
          </button>
        </h2>
        <div id="flush-collapseFourth" class="accordion-collapse collapse" aria-labelledby="flush-headingFourth" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Privacidad desplegable</div>
        </div>
    </div> -->
</div>
