<div class="card-container">
    <div class="img-container">
        <img [src]="'assets/images/pruebas/prueba1.png'">
    </div>
    <div class="price-discount">
        <span>1200</span>
    </div>
    <div class="price">
        <span>625</span>
    </div>
    <div class="category">
        <span>Bravecto</span>
    </div>
    <div class="name">
        <span>Antipulgas y Garrapatas</span>
    </div>
</div>

<!-- <div class="card">
    <img src="assets/product-example.jpg" (click)="goToProduct();">


    <div class="bottom-centered">
        <span>FELIX GATITOS</span>
    </div>
</div>
<div class="card-footer text-muted text-center" (click)="addToCart();">
    Agregar al carro <i class="fa fa-shopping-cart" aria-hidden="true"></i>
</div> -->