<div class="nav-container">
  <div class="row">
    <div class="col-md-4">
      <div class="items position-items">
        <span *ngIf="isUserAdmin" class="item" (click)="routingService.goToUsers();">
          Usuarios
        </span>
        <!-- <span *ngIf="isUserAdmin" class="item" (click)="routingService.goToRoles();">
          Roles
        </span> -->
        <span *ngIf="isUserAdmin" class="item" (click)="routingService.goToLabs();">
          Laboratiorios
        </span>
        <span *ngIf="isUserAdmin" class="item" (click)="routingService.goToCarousels();">
          Carrusel
        </span>
        <span *ngIf="isUserAdmin" class="item" (click)="routingService.goToVideosAdmin();">
          Videos
        </span>

        <span *ngIf="!isUserAdmin" (click)="$event.stopPropagation(); dropProds.open();" class="item">
          Productos <i class="fas fa-chevron-down"></i>
        </span>
        <div class="d-inline-block dropAccount" ngbDropdown #dropProds="ngbDropdown">
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="goToAllProducts();">
              Todos los productos
            </button>
            <button *ngIf="canCcm" ngbDropdownItem (click)="goToAllProductsCcm();">
              Medicamentos
            </button>
            <button *ngIf="canCcb" ngbDropdownItem (click)="goToAllProductsCcb();">
              Alimentos para caninos y felinos
            </button>
          </div>
        </div>

        <!-- <span class="item">Servicios de laboratorio <i class="fas fa-chevron-down"></i></span> -->
        
      </div>
    </div>
    <div class="col-md-8">

      <div class="items position-items2">
        <span *ngIf="userActive && !isUserAdmin" class="item" (click)="routingService.goToMyOrders()">
          Mis compras
        </span>
        <span *ngIf="userActive && !isUserAdmin" class="item" (click)="routingService.goToDocumentsCtacte();">
          Mi cuenta corriente
        </span>
        <span *ngIf="clientBas && !isUserAdmin" (click)="routingService.goToAccount();" class="item">
          <i class="fa fa-user-o" aria-hidden="true"></i>{{ clientBas?.Nombre | titlecase }}
        </span>
        <span *ngIf="isUserAdmin" (click)="routingService.goToAccount();" class="item">
          <i class="fa fa-user-o" aria-hidden="true"></i> {{ user?.person?.names | titlecase }} {{ user?.person?.surnames | titlecase }}
        </span>
        <span *ngIf="!isUserAdmin" (click)="goToShoppingCart();" class="item">
          <img class="img-icon-cart" [src]="'assets/icons/new/icono__carrito.png'">
        </span>
        <span *ngIf="itemsCount && !isUserAdmin" class='badge badge-warning' id='lblCartCount'>
          {{itemsCount}}
        </span>
      </div>
    </div>
  </div>
</div>