.nav-container{
    padding: 20px 3%;
    background: #FFF1D5;
}
.item{
    font-size: 16px;
    font-weight: 600;
    margin: 0px 15px;
    cursor: pointer;
}
.fa-shopping-cart{
    font-size: 20px;
}
.position-items{
    text-align: center;
}
.position-items2{
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .item{
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }
    .fa-shopping-cart{
        font-size: 15px;
    } 
}
@media only screen and (min-width: 1280px) {
    .item{
        font-size: 16px;
        font-weight: 600;
        margin: 0px 20px;
        cursor: pointer;
    }
    .fa-shopping-cart{
        font-size: 20px;
    }
    .position-items{
        text-align: left;
    }
    .position-items2{
        text-align: right;
    }
}