.esp-nav{
    margin: 15px 0px;
    border-top: 2px solid #c9c9c9;;
    border-bottom: 2px solid #c9c9c9;;
}
a{
    cursor: pointer;
    color: inherit;
}
a, h2{
    color: white !important;
}
.nav-link{
  color: black !important;
  font-size: 18px;
  transition: transform .2s;
}
.nav-link:hover{
    transform: scale(1.05); 
    text-decoration: underline;
}
.collapsed{
    text-align: center;
}
a {
    color: blue;
    text-decoration: none;
}
.logout{
    cursor: pointer;
    right: 20px;
    font-weight: 600;
}
.logout:hover{
    text-decoration: underline;
    // font-weight: bold;
}