<div class="nav-container">
  <div class="row g-4">
    <div class="col-lg-8">
      <div class="items position-items">
        <span class="item">Productos <i class="fas fa-chevron-down"></i></span>
        <span class="item">Servicios de laboratorio <i class="fas fa-chevron-down"></i></span>
        <span class="item">Mis compras</span>
        <span class="item">Mi cuenta corriente</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="items position-items2">
        <span class="item"><i class="fa fa-user-o" aria-hidden="true"></i> Alvaro Alvarez Porcel</span>
        <span class="item"><i class="fa fa-signal" aria-hidden="true"></i> Nivel C</span>
        <span (click)="goToShoppingCart();" class="item"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>