.summary{
    font-weight: bold;
    font-size: 20px;
}
.subtotal{
    font-weight: 200;
    font-size: 17px;
}
.total{
    font-weight: bold;
    font-size: 15px;
}
.total-price{
    font-weight: bold;
    font-size: 22px;
}
.btn-finish{
    margin: 40px 0px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}