<div class="header-container">
    <div class="row">
        <div class="col-md-3 logo-container">
            <img (click)="nav.goToHome();" class="logo" [src]="'assets/images/logo.png'">
        </div>
        <div class="col-md-6">
            <div class="search-bar position">
                <div class="input-search">
                    <input (keyup.enter)="search()" id="product-search" type="text" placeholder="Buscar productos, marcas y más">
                    <i (click)="search();" class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="position">
                <button (click)="goToVademecum();" class="btn btn-orange" type="button">Vademecum</button>
            </div>
        </div>
        <div class="col-md-1">
            <div class="position icons-container">
                <!-- <i (click)="goToNotifications();" class="fa fa-bell icons" aria-hidden="true"></i> -->
                <!-- <i (click)="goToUser();" class="fa fa-user-circle-o icons" aria-hidden="true"></i> -->
                <i (click)="$event.stopPropagation(); dropAccount.open();" class="fa fa-user-circle-o icons" aria-hidden="true"></i>
                <div class="d-inline-block dropAccount" ngbDropdown #dropAccount="ngbDropdown">
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                      <button *ngIf="activeUser" ngbDropdownItem (click)="nav.goToAccount();">Mi Perfil</button>
                      <button *ngIf="!activeUser" ngbDropdownItem (click)="nav.goToLogin();">Iniciar Sesión</button>
                      <button *ngIf="activeUser" ngbDropdownItem (click)="askAction();">Cerrar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>