.header{
    // height: 50px;
    // background-color: #A1A934;
}
.right{
    // padding: 17px;
    padding: 17px 0px;
}
.image-contaier{
    margin: 15px 0px 0px 0px;
}
.cart{
    font-size: 20px;
    display: inline;
    padding: 6px 10px;
    border: 2px solid #cbcbcb;
    border-radius: 11px;
    cursor: pointer;
}
.separator{
    font-size: 25px;
    font-weight: 100;
    display: inline;
    color: #b3b3b3;
    margin: 0px 15px;
}
img{
    cursor: pointer;
}