.info-container{
    padding: 30px;
}
.btn-finish{
    margin: 40px 0px;
    width: 60%;
    font-weight: bold;
    font-size: 20px;
}
.title{
    font-weight: bold;
    font-size: 30px;
    margin: 7px 0px;
}
.price{
    font-weight: bold;
    font-size: 23px;
    margin: 10px 0px;
}
.subtitle{
    color: gray;
    font-size: 15px;
    margin: 7px 0px;
}