<div class="info-container">
    
    <div class="title">
        <span>Alimento Excellent Skin Care Cordero para Perro Adulto - 15 Kg</span>
    </div>
    <div class="subtitle">
        Comida para gato
    </div>
    <div class="price">
        <span>{{ 7300 | currency: 'ARS' }}</span>
    </div>
    

    <!-- <span>Medios de pago</span> <br>
    <span>Redes</span> -->

    <app-number-custom></app-number-custom>

    <button class="btn btn-success btn-finish">
        Finalizar compra
    </button>
</div>