<div class="home-container">
        <div *ngIf="!isUserAdmin">
            <!-- <button type="button" (click)="showModal();">asdasdasdasd</button> -->
            <app-carousel
            *ngIf="carouselSlides.length > 0 && enableCarousel"
            [slides]="carouselSlides"
            ></app-carousel>
            <app-promotions
            ></app-promotions>
        
            <div class="body-container">
                <app-title
                [title]="'Productos'"
                [extraTitle]="'Ver todas'"
                (goToLink)="goToAllOffers();"
                ></app-title>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let product of products">
                        <app-product-card
                        class="pointer"
                        (click)="goToProduct(product.codigo);"
                        [product]="product"
                        [discount]="true"
                        ></app-product-card>
                    </div>
                </div>

                <div *ngIf="promotions.length > 0">
                    <app-title
                    [title]="'Ofertas'"
                    [extraTitle]="'Ver todas'"
                    [spacingTop]="true"
                    (goToLink)="goToOffers();"
                    ></app-title>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let promotion of promotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="recommendedProducts.length > 0">
                    <app-title
                    [title]="'Más vendidos'"
                    [extraTitle]="'Ver todas'"
                    [spacingTop]="true"
                    (goToLink)="goToRecommendeds();"
                    ></app-title>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let product of recommendedProducts">
                            <app-product-card
                            class="pointer"
                            (click)="goToProduct(product.codigo);"
                            [product]="product"
                            [discount]="true"
                            ></app-product-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="expiringPromotions.length > 0">
                    <app-title
                    [title]="'Ofertas por vencer'"
                    [extraTitle]="'Ver todas'"
                    [spacingTop]="true"
                    (goToLink)="goToExpiringOffers();"
                    ></app-title>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let promotion of expiringPromotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                </div>

                <app-title
                [title]="'Laboratorios'"
                [extraTitle]="'Ver todas'"
                [spacingTop]="true"
                (goToLink)="routing.goToLaboratories();"
                ></app-title>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let laboratory of laboratories">
                        <app-laboratory-card
                        class="pointer"
                        (click)="goToLaboratory(laboratory);"
                        [laboratory]="laboratory"
                        ></app-laboratory-card>
                    </div>
                </div>

                <app-title
                [title]="'Videos promocionales'"
                [extraTitle]="'Ver todas'"
                [spacingTop]="true"
                (goToLink)="routing.goToVideos();"
                ></app-title>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let video of videos">
                        <app-video-card
                        class="pointer"
                        [video]="video"
                        ></app-video-card>
                    </div>
                </div>
        </div>  
    </div>
    <div *ngIf="isUserAdmin">
        <div class="container-esp">
            <img src="assets/images/home.png" alt="Snow" style="width:100%;">
            <div class="centered">
                <span class="title-admin">Bienvenido a la administración de</span>
                <br>
                <span class="title-esp-admin">Esperanza</span>
                <span class="subtitle-admin">Distribuyendo Salud Animal</span>
            </div>
          </div>
    </div>  
</div>
<app-spinner></app-spinner>