<div class="home-container">
        <div *ngIf="!isUserAdmin">
            <!-- <button type="button" (click)="showModal();">asdasdasdasd</button> -->
            <app-carousel
            *ngIf="carouselSlides.length > 0 && enableCarousel"
            [slides]="carouselSlides"
            ></app-carousel>
            <app-promotions
            [mobile]="mobile"
            [inline]="true"
            ></app-promotions>
        
            <div class="body-container">
                <app-title
                [title]="'Productos'"
                [extraTitle]="'Ver todas'"
                (goToLink)="goToAllOffers();"
                ></app-title>
                <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let product of products">
                        <app-product-card
                        class="pointer"
                        (click)="goToProduct(product.codigo);"
                        [product]="product"
                        [activeUser]="activeUser"
                        [discount]="true"
                        ></app-product-card>
                    </div>
                </div>
                <div *ngIf="mobile" class="mobile-items-container">
                    <div class="mobile-item" *ngFor="let product of products">
                        <app-product-card
                        class="pointer"
                        (click)="goToProduct(product.codigo);"
                        [product]="product"
                        [activeUser]="activeUser"
                        [discount]="true"
                        ></app-product-card>
                    </div>
                </div>

                <div *ngIf="promotions.length > 0">
                    <app-title
                    [title]="'Ofertas'"
                    [extraTitle]="'Ver todas'"
                    (goToLink)="goToOffers();"
                    ></app-title>
                    <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let promotion of promotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                    <div *ngIf="mobile" class="mobile-items-container">
                        <div class="mobile-item" *ngFor="let promotion of promotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="recommendedProducts.length > 0">
                    <app-title
                    [title]="'Más vendidos'"
                    [extraTitle]="'Ver todas'"
                    (goToLink)="goToRecommendeds();"
                    ></app-title>
                    <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let product of recommendedProducts">
                            <app-product-card
                            class="pointer"
                            (click)="goToProduct(product.codigo);"
                            [product]="product"
                            [activeUser]="activeUser"
                            [discount]="true"
                            [moreSeller]="true"
                            ></app-product-card>
                        </div>
                    </div>
                    <div *ngIf="mobile" class="mobile-items-container">
                        <div class="mobile-item" *ngFor="let product of recommendedProducts">
                            <app-product-card
                            class="pointer"
                            (click)="goToProduct(product.codigo);"
                            [product]="product"
                            [activeUser]="activeUser"
                            [discount]="true"
                            ></app-product-card>
                        </div>
                    </div>
                </div>

                <div *ngIf="expiringPromotions.length > 0">
                    <app-title
                    [title]="'Ofertas por vencer'"
                    [extraTitle]="'Ver todas'"
                    (goToLink)="goToExpiringOffers();"
                    ></app-title>
                    <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                        <div class="col" *ngFor="let promotion of expiringPromotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                    <div *ngIf="mobile" class="mobile-items-container">
                        <div class="mobile-item" *ngFor="let promotion of expiringPromotions">
                            <app-offer-card
                            class="pointer"
                            (click)="goToOffer(promotion);"
                            [promotion]="promotion"
                            ></app-offer-card>
                        </div>
                    </div>
                </div>

                <app-title
                [title]="'Laboratorios'"
                [extraTitle]="'Ver todas'"
                (goToLink)="routing.goToLaboratories();"
                ></app-title>
                <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let laboratory of laboratories">
                        <app-laboratory-card
                        class="pointer"
                        (click)="goToLaboratory(laboratory);"
                        [laboratory]="laboratory"
                        ></app-laboratory-card>
                    </div>
                </div>
                <div *ngIf="mobile" class="mobile-items-container">
                    <div class="mobile-item" *ngFor="let laboratory of laboratories">
                        <app-laboratory-card
                        class="pointer"
                        (click)="goToLaboratory(laboratory);"
                        [laboratory]="laboratory"
                        ></app-laboratory-card>
                    </div>
                </div>

                <app-title
                [title]="'Videos promocionales'"
                [extraTitle]="'Ver todas'"
                (goToLink)="routing.goToVideos();"
                ></app-title>
                <div *ngIf="!mobile" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let video of videos">
                        <app-video-card
                        class="pointer"
                        [video]="video"
                        (click)="viewVideo(video);"
                        ></app-video-card>
                    </div>
                </div>
                <div *ngIf="mobile" class="mobile-items-container">
                    <div class="mobile-item" *ngFor="let video of videos">
                        <app-video-card
                        class="pointer"
                        [video]="video"
                        (click)="viewVideo(video);"
                        ></app-video-card>
                    </div>
                </div>
        </div>  
    </div>
    <div *ngIf="isUserAdmin">
        <div [ngClass]="{ 'container-esp': !mobile, 'container-esp-mobile': mobile }">
            <img src="assets/images/home.png" alt="Snow" style="width:100%;">
            <div class="centered">
                <span [ngClass]="{ 'title-admin': !mobile, 'title-admin-mobile': mobile }">Bienvenido a la administración de</span>
                <br>
                <span class="title-esp-admin">Esperanza</span>
                <span class="subtitle-admin">Distribuyendo Salud Animal</span>
            </div>
          </div>
    </div>  
</div>

<div id="modal-mobile" class="custom-modall-mobile">
  <div *ngIf="mobile" class="custom-modall-content-mobile">
    <div class="container-info-mobile">
        <i class="fa fa-times close-popup-mobile" (click)="closeModal();"></i>
        <div class="row">
            <div class="col-2">
                <div class="image-mobile">
                    <img class="icon-img-face" [src]="'assets/images/exclamation.png'">
                </div>
            </div>
            <div class="col-9">
                <span class="text-mobile">
                    Los precios publicados no contemplan el descuento Categoría Cliente. Para visualizar el precio final 
                    <label class="link-mobile" (click)="goToLogin();">inicie su sesión</label>.
                </span>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
  </div>
</div>

<div id="modal-pc" class="custom-modall">
    <div *ngIf="!mobile" class="custom-modall-content">
      <div class="container-info">
        <i class="fa fa-times close-popup" (click)="closeModal();"></i>
          <div class="row">
              <div class="col-2">
                  <div class="image">
                      <img class="icon-img-face" [src]="'assets/images/exclamation.png'">
                  </div>
              </div>
              <div class="col-9">
                  <span class="text">
                      Los precios publicados no contemplan el descuento Categoría Cliente. Para visualizar el precio final 
                      <label class="link" (click)="goToLogin();">inicie su sesión</label>.
                  </span>
              </div>
              <div class="col-1">
              </div>
          </div>
      </div>
    </div>
  </div>
<app-spinner></app-spinner>