<div class="card-container card h-100">
    <div *ngIf="!discount" class="no-discount">
    </div>
    <div *ngIf="discount" class="img-discount">
        <img [src]="product.foto">
    </div>
    <div class="img-container">
        <img [src]="product.path">
    </div>
    <div *ngIf="!isProductLaboratory">
        <div *ngIf="product.logged" class="price">
            <span>{{ getPriceNumber(product?.precio) | currency: '$':'symbol':'.0-2':'it' }}</span>
        </div>
        <div *ngIf="!product.logged" class="no-price">
            <span>{{ getPriceNumber(product?.precio) | currency: '$':'symbol':'.0-2':'it' }}</span>
        </div>
    </div>
    <div *ngIf="isProductLaboratory">
        <div class="price">
            <span>{{ getPriceNumber(product?.preciO_ESP) | currency: '$':'symbol':'.0-2':'it' }}</span>
        </div>
    </div>
    <div class="category">
        <span>{{ (product?.categoria?.length>40)? (product?.categoria | slice:0:40)+'...':(product?.categoria) | titlecase }}</span>
    </div>
    <div class="name">
        <span>{{ product?.nombre | titlecase}}</span>
    </div>
</div>