<div [formGroup]="parentForm">
    <span class="title-form">{{label}}</span>

    <div [ngSwitch]="type">
        <!-- ============= Solo Números ============= -->
        <div *ngSwitchCase="'number'">
            <input
            [ngClass]="validate ? { 'is-valid': this.parentForm.get(this.keyInput)?.valid,
            'is-invalid':  !this.parentForm.get(this.keyInput)?.valid && this.parentForm.get(this.keyInput)?.touched }: {}"
            type="text"
            appNumber
            [OnlyNumbers]="true"
            [maxlength]="maxlength"
            class="form-control"
            [placeholder]="placeholder"
            [formControlName]="keyInput"
            appBlockCopyPaste
            [blockCopyAndPaste]="blockCopyAndPaste">
            <div *ngIf="validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid-feedback">
                {{ errMsg }}
            </div>
        </div>
        <!-- ============= Números con separadores de miles (DNI/CI)============= -->
        <div *ngSwitchCase="'numberTS'">
            <input
            [ngClass]="validate ? { 'is-valid': this.parentForm.get(this.keyInput)?.valid,
            'is-invalid':  !this.parentForm.get(this.keyInput)?.valid && this.parentForm.get(this.keyInput)?.touched }: {}"
            type="text"
            class="form-control"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [formControlName]="keyInput"
            currencyMask
            [options]="{ prefix: currencySing, thousands: '.', precision: 0, align: 'left' }"
            (change)="change($event)"
            appBlockCopyPaste
            [blockCopyAndPaste]="blockCopyAndPaste">
            <div *ngIf="validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid-feedback">
                {{ errMsg }}
            </div>
        </div>
        <!-- ============= Números con separadores de miles y decimales (DNI/CI)============= -->
        <div *ngSwitchCase="'numberTSD'">
            <input
            [ngClass]="validate ? { 'is-valid': this.parentForm.get(this.keyInput)?.valid,
            'is-invalid':  !this.parentForm.get(this.keyInput)?.valid && this.parentForm.get(this.keyInput)?.touched }: {}"
            type="text"
            class="form-control"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [formControlName]="keyInput"
            currencyMask
            [options]="{ prefix: '', thousands: '.', precision: decimalPrecision, align: 'left', decimal: decimalSeparator }"
            (change)="change($event)"
            appBlockCopyPaste
            [blockCopyAndPaste]="blockCopyAndPaste">
            <div *ngIf="validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid-feedback">
                {{ errMsg }}
            </div>
        </div>
        <!-- ============= Números Enteros con Tipo de Moneda ============= -->
        <div *ngSwitchCase="'currency'">
            <input
            [ngClass]="validate ? { 'is-valid': this.parentForm.get(this.keyInput)?.valid,
            'is-invalid':  !this.parentForm.get(this.keyInput)?.valid && this.parentForm.get(this.keyInput)?.touched }: {}"
            type="text"
            class="form-control"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [formControlName]="keyInput"
            currencyMask
            [options]="{
                            prefix: currencySing,
                            thousands: thousandsSeparator,
                            precision: decimalPrecision,
                            align: 'left',
                            decimal: decimalSeparator 
                        }"
            (change)="change($event)"
            appBlockCopyPaste
            [blockCopyAndPaste]="blockCopyAndPaste">
        </div>
   </div>
    <br *ngIf="br">
</div>