<div class="cart-container">
    <div class="body-container">
        <div class="title">
            <span>Tu carrito de compras</span>
        </div>

        <div *ngIf="shoppingCart?.itemsCcb?.length > 0 || shoppingCart?.itemsCcm?.length > 0 || shoppingCart?.itemPromotionsCart?.length > 0" class="cart">
            <div *ngIf="shoppingCart?.itemsCcb?.length > 0 || anyPromotionCCB()">
                <div class="title-inside">
                    <span>Alimentos para caninos y felinos</span>
                </div>
                <div class="row g-0" *ngFor="let item of shoppingCart.itemsCcb; let i=index">
                    <div class="col item-card">
                        <hr *ngIf="i !== 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 img-center">
                                        <img [src]="item.product.foto">
                                    </div>
                                    <div class="col-sm-6 texts">
                                        <div class="category text">
                                            <span>{{ (item.product?.categoria?.length>40)? (item.product?.categoria | slice:0:40)+'...':(item.product?.categoria) }}</span>
                                        </div>
                                        <div class="product text">
                                            <span>{{ item.product?.nombre | titlecase}}</span>
                                        </div>
                                        <div class="delete text">
                                            <span (click)="removeElement(i, item.condition);" class="remove-text">Eliminar</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 display">
                                <app-number-custom
                                *ngIf="item.availableStock"
                                [quantity]="item.quantity"
                                [outOfStock]="outOfStock"
                                [maxQuantity]="maxQuantity"
                                [items]="item"
                                [index]="i"
                                (deleteElement)="removeElement(i, item.condition)"
                                (resetPrices)="resetPrices($event, item.condition);"
                                ></app-number-custom>
                            </div>
                            <div class="col-lg-3 price text">
                                <span *ngIf="item.availableStock">{{ item.price | currency }}</span>
                                <span class="no-stock" *ngIf="!item.availableStock">Stock no disponible</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div *ngFor="let item of shoppingCart.itemPromotionsCart; let i=index">
                    <div *ngIf="item.condition === 'CCB'" class="row g-0 promotion-top">
                        <div class="col item-card">
                            <!-- <hr *ngIf="i !== 0"> -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6 img-center">
                                            <img *ngIf="hasImgs[i]" [src]="'https://esperanzadistri.com.ar/flyers/' + getImgName(item?.promotion)" (error)="updateUrl($event, i)">
                                            <img *ngIf="!hasImgs[i]" [src]="'assets/no-image3.jpg'">
                                        </div>
                                        <div class="col-sm-6 texts">
                                            <div class="category text">
                                                <span>{{ (item.promotion?.Categoria?.length>40)? (item.promotion?.Categoria | slice:0:40)+'...':(item.promotion?.Categoria) }}</span>
                                            </div>
                                            <div class="product text">
                                                <span>{{ item.promotion?.Descripcion | titlecase}}</span>
                                            </div>
                                            <div class="delete text">
                                                <span (click)="removePromotion(i);" class="remove-text">Eliminar</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 display">
                                    <span>Promoción</span>
                                </div>
                                <div *ngIf="item.type === '001'" class="col-lg-3 price text">
                                    <span >{{ (item.promotionTypeOne?.unitPrice * item.promotionTypeOne?.cant) | currency }}</span>
                                    <span class="detail-promotion-lbl" (click)="promotionDetail(i, item.type);">Ver detalle</span>
                                    <!-- <span *ngIf="item.availableStock">{{ item.promotion?.Precio | currency }}</span> -->
                                    <!-- <span class="no-stock" *ngIf="!item.availableStock">Stock no disponible</span> -->
                                </div>

                                <div *ngIf="item.type === '003'" class="col-lg-3 price text">
                                    <span >{{ getPromotionPriceThree(i) | currency }}</span>
                                    <span class="detail-promotion-lbl" (click)="promotionDetail(i, item.type);">Ver detalle</span>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

            </div>




            <div *ngIf="shoppingCart?.itemsCcm?.length > 0 || anyPromotionCCM()">
                <div class="title-inside">
                    <span>Medicamentos</span>
                </div>
                <div class="row g-0" *ngFor="let item of shoppingCart.itemsCcm; let i=index">
                    <div class="col item-card">
                        <hr *ngIf="i !== 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 img-center">
                                        <img [src]="item.product.foto">
                                    </div>
                                    <div class="col-sm-6 texts">
                                        <div class="category text">
                                            <span>{{ (item.product?.categoria?.length>40)? (item.product?.categoria | slice:0:40)+'...':(item.product?.categoria) }}</span>
                                        </div>
                                        <div class="product text">
                                            <span>{{ item.product?.nombre | titlecase}}</span>
                                        </div>
                                        <div class="delete text">
                                            <span (click)="removeElement(i, item.condition);" class="remove-text">Eliminar</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 display">
                                <app-number-custom
                                *ngIf="item.availableStock"
                                [quantity]="item.quantity"
                                [outOfStock]="outOfStock"
                                [maxQuantity]="getMaxStock(item.productBas)"
                                [items]="item"
                                [index]="i"
                                (deleteElement)="removeElement(i, item.condition)"
                                (resetPrices)="resetPrices($event, item.condition);"
                                ></app-number-custom>
                            </div>
                            <div class="col-lg-3 price text">
                                <span *ngIf="item.availableStock">{{ item.price | currency }}</span>
                                <span class="no-stock" *ngIf="!item.availableStock">Stock no disponible</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div *ngFor="let item of shoppingCart.itemPromotionsCart; let i=index">
                    <div *ngIf="item.condition === 'CCM'" class="row g-0 promotion-top">
                        <div class="col item-card">
                            <!-- <hr *ngIf="i !== 0"> -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6 img-center">
                                            <img *ngIf="hasImgs[i]" [src]="'https://esperanzadistri.com.ar/flyers/' + getImgName(item?.promotion)" (error)="updateUrl($event, i)">
                                            <img *ngIf="!hasImgs[i]" [src]="'assets/no-image3.jpg'">
                                        </div>
                                        <div class="col-sm-6 texts">
                                            <div class="category text">
                                                <span>{{ (item.promotion?.Categoria?.length>40)? (item.promotion?.Categoria | slice:0:40)+'...':(item.promotion?.Categoria) }}</span>
                                            </div>
                                            <div class="product text">
                                                <span>{{ item.promotion?.Descripcion | titlecase}}</span>
                                            </div>
                                            <div class="delete text">
                                                <span (click)="removePromotion(i);" class="remove-text">Eliminar</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 display">
                                    <span>Promoción</span>
                                </div>
                                <div *ngIf="item.type === '001'" class="col-lg-3 price text">
                                    <span >{{ (item.promotionTypeOne?.unitPrice * item.promotionTypeOne?.cant) | currency }}</span>
                                    <span class="detail-promotion-lbl" (click)="promotionDetail(i, item.type);">Ver detalle</span>
                                    <!-- <span *ngIf="item.availableStock">{{ item.promotion?.Precio | currency }}</span> -->
                                    <!-- <span class="no-stock" *ngIf="!item.availableStock">Stock no disponible</span> -->
                                </div>

                                <div *ngIf="item.type === '003'" class="col-lg-3 price text">
                                    <span >{{ getPromotionPriceThree(i) | currency }}</span>
                                    <span class="detail-promotion-lbl" (click)="promotionDetail(i, item.type);">Ver detalle</span>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="result">
                <div class="total">
                    <span>Total: </span> <span>{{ shoppingCart?.totalPrice | currency }}</span>
                </div>
                <div>
                    <div class="row row-cols-1 row-cols-sm-3 g-1">
                        <div class="col">
                        </div>
                        <div class="col">
                            <button class="btn btn-orange no-orange" type="button" (click)="goToAllProducts();">
                                Seguir comprando
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-orange" type="button" (click)="finishOrder()">
                                Finalizar compra
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!shoppingCart?.itemsCcb && !shoppingCart?.itemsCcm && !shoppingCart?.itemPromotionsCart" class="cart">
            <app-no-items
            [title]="'Carrito vacio'"
            ></app-no-items>
        </div>

        <div *ngIf="recommendedProducts.length > 0">
            <app-title
            [title]="'Productos recomendados'"
            ></app-title>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                <div class="col" *ngFor="let product of recommendedProducts">
                    <app-product-card
                    class="pointer"
                    (click)="goToProduct(product.codigo);"
                    [product]="product"
                    [discount]="true"
                    ></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>