.cart-container{
    background: #EDEDED;
}
.body-container{
    padding: 20px 3%;
}
.cart{
    background: white;
    border-radius: 25px;
    padding: 5%;
    margin: 40px 0px;
}
.title, .title-inside{
    color: #6c6c6c;
    font-size: 18px;
    margin: 15px 0px;
}
.item-card{
    margin-top: -33px !important;
}