<div class="cart-container">
    <div class="body-container">
        <div class="title">
            <span>Tu carrito de compras</span>
        </div>
        <div *ngIf="(cart.packages.length > 0 || cart.offers.length > 0) && userEnabled" class="cart">
            <div *ngFor="let package of cart.packages; let packageIndex = index">
                <div class="title-inside">
                    <span>{{getPackageName(package.condition) | titlecase}}</span>
                </div>
                <div class="row g-0" *ngFor="let product of package.products; let productIndex = index">
                    <div class="col item-card">
                        <hr *ngIf="productIndex !== 0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 img-center">
                                        <img [src]="product.imageUrl">
                                    </div>
                                    <div class="col-sm-6 texts">
                                        <div class="category text">
                                            <span>{{ (product.category.length > 40) ? (product.category | slice:0:40) + '...' : (product.category) }}</span>
                                        </div>
                                        <div class="product text">
                                            <span>{{ product?.name | titlecase}}</span>
                                        </div>
                                        <div class="delete text">
                                            <span (click)="removeElement(productIndex, package.condition);" class="remove-text"><i class="fa fa-trash"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 display">
                                <app-number-custom
                                *ngIf="product.inStock"
                                [quantity]="product.quantity"
                                [outOfStock]="outOfStock"
                                [maxQuantity]="product.stock"
                                [index]="productIndex"
                                (deleteElement)="removeElement(productIndex, package.condition)"
                                (resetPrices)="resetPrices($event, package.condition);"
                                ></app-number-custom>
                            </div>
                            <div class="col-lg-3 price text">
                                <span *ngIf="product.inStock">{{ product.totalPriceWithBonifications | currency: 'ARS' }}</span>
                                <span class="no-stock" *ngIf="!product.inStock">Stock no disponible</span>
                            </div>
                        </div>
                        <!-- <hr> -->
                    </div>
                </div>
            </div>
            <div *ngIf="cart.offers.length > 0 && userEnabled">
                <div class="title-inside">
                    <span>Promociones</span>
                </div>
                <div class="row g-0" *ngFor="let productOffer of cart.offers; let productOfferIndex = index">
                    <div class="col item-card">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 img-center">
                                        <img *ngIf="hasImgs[productOfferIndex]" [src]="productOffer.imageUrl" (error)="updateUrl(productOfferIndex)">
                                        <img *ngIf="!hasImgs[productOfferIndex]" [src]="'assets/no-image3.jpg'">
                                    </div>
                                    <div class="col-sm-6 texts">
                                        <div class="category text">
                                            <span>{{ (productOffer.category.length > 40)? (productOffer.category | slice:0:40) + '...' : (productOffer.category) }}</span>
                                        </div>
                                        <div class="product text">
                                            <span>{{ productOffer.name | titlecase}}</span>
                                        </div>
                                        <div class="delete text">
                                            <span (click)="removePromotion(productOfferIndex);" class="remove-text"><i class="fa fa-trash"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 display">
                                <span>Promoción</span>
                            </div>
                            <div class="col-lg-3 price text">
                                <span>{{ productOffer.totalPriceWithBonifications | currency: 'ARS' }}</span>
                                <span class="detail-promotion-lbl" (click)="promotionDetail(productOfferIndex);">Ver detalle</span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="result">
                <div class="total">
                    <span>Total: </span> <span>{{ cart.totalPrice | currency: 'ARS' }}</span>
                </div>
                <div>
                    <div class="row row-cols-1 row-cols-sm-3 g-1">
                        <div class="col">
                        </div>
                        <div class="col">
                            <button class="btn btn-orange no-orange" type="button" (click)="goToAllProducts();">
                                Seguir comprando
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-orange" type="button" (click)="finishOrder()">
                                Finalizar compra
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cart.packages.length === 0 && cart.offers.length === 0 && userEnabled" class="cart">
            <app-no-items
            [title]="'Carrito vacio'"
            ></app-no-items>
        </div>
        <div *ngIf="!userEnabled" class="cart">
            <!-- <app-no-items
            [title]="'Si usted quiere realizar un pedido debe iniciar sesión. Si usted no tiene cuenta con esperanza envíe un mail para solicitar el alta'"
            ></app-no-items> -->
            <div class="title-container-noitems">
                <span class="title-noitems">Si usted quiere realizar un pedido debe
                    <span class="text-link" (click)="goToLogin();">
                        iniciar sesión
                    </span>
                    . Si usted no tiene cuenta con esperanza envíe un mail para
                    <span class="text-link" (click)="goToRegister();">
                        solicitar el alta
                    </span>
                </span>
            </div>
        </div>

        <div *ngIf="recommendedProducts.length > 0">
            <app-title
            [title]="'Más vendidos'"
            ></app-title>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                <div class="col" *ngFor="let product of recommendedProducts">
                    <app-product-card
                    class="pointer"
                    (click)="goToProduct(product.codigo);"
                    [product]="product"
                    [discount]="true"
                    ></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>