<div class="customer-products-container">
    <app-carousel
    *ngIf="carouselSlides.length > 0 && enableCarousel"
    [slides]="carouselSlides"
    ></app-carousel>

    <div class="cards">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card" (click)="scroll('about-us');">
                    <div class="image">
                        <img [src]="'assets/images/about-us.png'">
                    </div>
                    <div class="card-title">
                        <span>Quiénes somos</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" (click)="scroll('our-mission');">
                    <div class="image">
                        <img [src]="'assets/images/our-mission.png'">
                    </div>
                    <div class="card-title">
                        <span>Nuestra misión</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" (click)="scroll('where-we-are');">
                    <div class="image">
                        <img [src]="'assets/images/where-we-are.png'">
                    </div>
                    <div class="card-title">
                        <span>Dónde estamos</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" (click)="scroll('');">
                    <div class="image">
                        <img [src]="'assets/images/work-with-us.png'">
                    </div>
                    <div class="card-title">
                        <span>Trabaja con nosotros</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body">
        <div class="row">
            <div [ngClass]="{ 'product-items': !mobile, 'product-items-mobile': mobile }">
                <div id="about-us">
                    <img class="image-only-logo" [src]="'assets/images/only-logo.png'">
                    <span [ngClass]="{ 'title': !mobile, 'title-mobile': mobile }">Quiénes somos</span>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Esperanza Distribuciones es una empresa ubicada en Esperanza, Provincia de Santa Fe con más de 30 años en la distribución de productos medicinales para pequeños y grandes animales y de alimentos balanceado para mascotas de la firma Nestlé Purina, especializado en el CANAL VETERINARIO y presente en la mayor parte del territorio nacional. En la actualidad contamos con más de 100 empleados distribuidos entre nuestra casa central en la localidad de Esperanza y nuestras sucursales de Rosario, Córdoba, Mendoza y Tucumán.
                    </div>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Además contamos con el más moderno laboratorio de análisis integrado a la red de laboratorios de SENASA (rubros bovinos, porcinos, ovinos y avicultura), a la red de la Cadena Agroalimentaria de Santa Fe y habilitado por SEDRONAR.
                    </div>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Esperanza se transforma y VOS SOS PARTE.
                    </div>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Una nueva etapa de Esperanza está comenzando. Un nuevo proceso con el eje puesto en la transformación constante, la búsqueda de la mejora continúa y de nuevos horizontes. Evolucionamos en el concepto de la Distribución de la Salud Animal pero potenciando nuestro objetivo que sigue siendo el mismo, <b>estar más cerca de nuestros clientes</b>.
                    </div>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        <b>Una nueva etapa de Esperanza  comenzó y estamos orgullosos de que seas parte de ella</b>.
                    </div>
                </div>
                <div id="our-mission" class="section">
                    <img class="image-only-logo" [src]="'assets/images/only-logo.png'">
                    <span [ngClass]="{ 'title': !mobile, 'title-mobile': mobile }">Nuestra misión</span>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Nuestra misión es ser el principal canal de conexión entre los laboratorios y productores de alimentos con las veterinarias de cada localidad de la región Centro-Norte del país.
                    </div>
                    <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                        Para realizar esto, apostamos a brindar un servicio de excelencia y a construir un compromiso y una relación mutua con nuestros proveedores y clientes basado en valores tales como la honestidad, la integridad, la solidaridad, el esfuerzo permanente y la fidelidad.
                    </div>
                </div>
                <div id="where-we-are" class="section">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="image-only-logo" [src]="'assets/images/only-logo.png'">
                            <span [ngClass]="{ 'title': !mobile, 'title-mobile': mobile }">Dónde estamos</span>

                            <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                                Nuestra sede central está localizada en Esperanza, Santa Fé.
                            </div>
                            <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                                Además tenemos sucursales en las ciudades de Córdoba, Rosario, Tucumán y Mendoza.
                            </div>
                            <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                                Con esta estructura, atendemos a clientes en las regiones de Nea, Noa, Cuyo y Centro.
                            </div>
                            <div class="mini-footer">
                                INGRESÁ TU CIUDAD PARA ENCONTRAR AL RESPRESENTANTE MÁS CERCANO
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div [ngClass]="{ 'paragraph': !mobile, 'paragraph-mobile': mobile }">
                                Ubicaciones Esperanza
                            </div>
                            <div class="map">
                                <div id="map" style="height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="work-with-us" class="section">
                    <img class="image-only-logo" [src]="'assets/images/only-logo.png'">
                </div> -->
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>