<div class="container">
    <div class="videos-container">
        <div>
            <div class="title">
                <app-title
                [title]="'Productos de laboratorio: ' + laboratory | titlecase"
                ></app-title>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 g-3">
                <div class="col" *ngFor="let product of products">
                    <app-product-card
                    class="pointer"
                    (click)="goToProduct(product.codigo);"
                    [product]="product"
                    [isProductLaboratory]="true"
                    [discount]="true"
                    ></app-product-card>
                </div>
            </div>

            <app-no-items
            *ngIf="products.length === 0"
            [title]="'Sin información'"
            ></app-no-items>
    
            <div class="row">
                <div class="col">
                    <div class="right">
                        <app-pagination
                        *ngIf="rows > 0"
                        [totalRows]="rows"
                        (reSearchItemsPagination)="reSearchItemsPagination($event)"
                        ></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-spinner></app-spinner>