<div [formGroup]="parentForm">
    <textarea
    class="form-control custom-input" 
    [formControlName]="keyInput"
    [placeholder]="placeholder"
    [rows]="rows" 
    [cols]="cols"
    [maxlength]="maxlength"
    appBlockCopyPaste
    [blockCopyAndPaste]="blockCopyAndPaste">
    </textarea>
    <div *ngIf="messageBelow && validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid">
         {{ errMsg }}
     </div>
    <br *ngIf="br">
</div>