<div [formGroup]="parentForm">
    <span class="title-form">{{label}}</span>

    <div *ngIf="!withCustomSearch">
        <ng-select
        [id]="'custom'" 
        [items]="options" 
        [placeholder]="placeholder"
        [formControlName]="keyInput"
        [bindValue]="bindValue" 
        [bindLabel]="bindLabel"
        [multiple]="multiSelect"
        (change)="change($event);">
        </ng-select>
        <div *ngIf="validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid-feedback">
            {{ errMsg }}
        </div>
    </div>
    <div *ngIf="withCustomSearch">
        <ng-select
        [id]="'custom'" 
        [items]="options" 
        [placeholder]="placeholder"
        [formControlName]="keyInput"
        [bindValue]="bindValue" 
        [bindLabel]="bindLabel"
        [multiple]="multiSelect"
        [searchFn]="customSearchFn"
        (change)="change($event);">
        </ng-select>
        <div *ngIf="validate && (this.parentForm.get(this.keyInput)?.invalid && this.parentForm.get(this.keyInput)?.touched)" class="invalid-feedback">
            {{ errMsg }}
        </div>
    </div>
    <br *ngIf="br">
</div>