<div class="gallery-container">
  <div class="row">
    <div class="col-3">
      <div class="row" *ngFor="let item of mediator">
        <img class="image" [src]="item.img">
      </div>
    </div>
    <div class="col">
      <div class="image-preview">
        <img [src]="items[0].img">
      </div>
    </div>
  </div>

    <!-- <div class="container" ng-app="app">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of mediator">

        <img class="image" [src]="item.img">
        
      </div>
    </div>
  </div> -->
    <!-- <div class="image-preview">
        <img [src]="items[0].img">
    </div>
    <div class="container" ng-app="app">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of mediator">

        <img class="image" [src]="item.img">
        
      </div>
    </div>
  </div> -->
</div>