<div class="container-color body-container">
    <div class="card">
        <div class="card-container">
          <div class="row g-4">
            <div class="col-lg-5">
              <div class="p-2">
                <img [src]="product?.foto">
              </div>
            </div>
            <div class="col-lg-7 information-product">
              <div class="col-sm-6">
                <span class="category">{{product?.categoria}}</span>
                <span class="name">{{product?.nombre}}</span>
              </div>
              <div class="col-sm-5">
                  <app-semaphore-stock
                  *ngIf="semaphoreValue"
                  [status]="semaphoreValue!"
                  ></app-semaphore-stock>
              </div>
              <div class="col-sm-6 price-container">
                  <span *ngIf="product?.logged" class="price">{{getPrice(product?.precio)}}</span>
                  <span *ngIf="!product?.logged" class="no-price">{{getPrice(product?.precio)}}</span>
                  <span class="price-esp">Precio con Esperanza: - <i class="fa fa-info icon" aria-hidden="true"></i></span>
              </div>
              <div class="display">
                  <app-number-custom 
                  [quantity]="quantity"
                  [outOfStock]="outOfStock"
                  [maxQuantity]="maxQuantity"
                  [produdctDescription]="true"
                  (onAddElement)="addQuantity($event)"
                  ></app-number-custom>
              </div>
              <div class="col-sm-6">
                  <app-box-discounts></app-box-discounts>
              </div>
              <div class="col-sm-7">
                  <button class="btn btn-properties buy-now" (click)="buyNow()" [disabled]="outOfStock" [ngClass]="{ 'btn-disabled': outOfStock }">
                    Comprar ahora
                  </button>
              </div>
              <div class="col-sm-7">
                  <button class="btn btn-properties add-to-cart" (click)="addToCart()" [disabled]="outOfStock" [ngClass]="{ 'btn-disabled': outOfStock }">
                    Agregar al carrito
                  </button>
              </div>
              </div>
        </div>
        <br><br>
            <div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    Descripción del producto
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Ficha técnica
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active description-container" id="home" role="tabpanel" aria-labelledby="home-tab">
                  {{ product?.descripcion }}
                </div>
                <div class="tab-pane fade description-container" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Código producto: </span>
                      <span class="description-description">{{ product?.codigo }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Tipo: </span>
                      <span class="description-description">{{ product?.tipo }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Marca: </span>
                      <span class="description-description">{{ product?.marca }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Sub rubro: </span>
                      <span class="description-description">{{ product?.subrubro }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Acción: </span>
                      <span class="description-description">{{ product?.accion }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">CBP: </span>
                      <span class="description-description">{{ product?.cbp }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Condición: </span>
                      <span class="description-description">{{ product?.condicion }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Droga: </span>
                      <span class="description-description">{{ product?.droga }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Especie: </span>
                      <span class="description-description">{{ product?.especie }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Laboratorio: </span>
                      <span class="description-description">{{ product?.laboratorio }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Vademecum: </span>
                      <span class="description-description">{{ product?.vademecum }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col values-container">
                      <span class="title-description">Vía de administración: </span>
                      <span class="description-description">{{ product?.viA_ADMINISTRACION }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<app-spinner></app-spinner>