.container-color{
    background: #EDEDED;
}
.body-container{
    padding: 40px 6%;
}
.cursor{
    cursor: pointer;
}
.icon{
    font-size: 10px;
    border: 1px solid gray;
    color: gray;
    padding: 2px 6px;
    border-radius: 64px;
}
.information-product{
    border: 1.5px solid #808080c2;
    border-radius: 12px;
    // padding: 30px;
    padding: 10px 30px;
}
.display{
    margin: 25px 0px;
}
img{
    width: 100%;
}
.btn-properties{
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px
}
.buy-now{
    color: white;
    background: #229200;
}
.add-to-cart{
    border: 2.5px solid #aad9a4;
    color: #39bc11;
}
.price-container{
    margin-top: 25px;
}
.marked{
    color: red;
}
a{
    pointer-events: none;
}
.pointer{
    cursor: pointer;
}

.card{
    border-radius: 8px;
}
.card-container{
    padding: 1% 4% 0% 4%;
}
.category{
    font-size: 18px;
}
.name{
    font-size: 19px;
}
.price{
    font-size: 20px;
    font-weight: bold;
}
.sub-price{
    font-size: 15px;
    margin: 10px 0px;
}
.no-price{
    font-size: 19px;
    text-decoration: line-through;
    color: gray;
    font-family: RobotoThin !important;
}
.price-esp{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
span{
    display: block;
}

.nav-link {
    color: #757575 !important;
    font-size: 14px !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.description-container{
    color: #757575;
    padding: 25px;
    font-size: 14px;
    font-style: italic;
    // margin: 0px 0px 50px 0px;
}
.title-description{
    color: #757575;
    display: inline;
    font-weight: bolder;
    font-style: normal;
}
.description-description{
    color: #757575;
    display: inline;
}
.values-container{
    margin: 3px 0px;
}
.btn-disabled{
    cursor: no-drop;
}
.mobile-items-container {
    display: flex;
    overflow-x: auto;
  }
  
  .mobile-item {
    width: 300px;
    flex-shrink: 0;
    padding: 10px;
  }
  